<form
  class="mb-1"
  [formGroup]="form"
  (submit)="submit()"
  (keydown.esc)="cancel()">
  <div class="field has-addons">
    <div class="control">
      <input
        class="input"
        type="text"
        formControlName="label"
        placeholder="Enter todo item name"
        appAutofocus
      />
    </div>
    <div class="control">
      <button
        class="button is-primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Create
      </button>
    </div>
  </div>
</form> 