<ng-container *ngIf="!isEditing; else itemForm">
  <label class="item-name checkbox">
    <input
      type="checkbox"
      [(ngModel)]="done"
      (change)="toggle()"
    />
    {{ label }}
  </label>

  <span class="controls on-hover field has-addons buttons are-small">
    <span class="control">
      <button
        class="button is-info is-light"
        type="button"
        title="Edit item"
        (click)="toggleEditing(true)"
      >
        <mat-icon class="icon" svgIcon="pencil"></mat-icon>
      </button>
    </span>
    <span class="control">
      <button
        class="button is-danger is-light"
        type="button"
        title="Delete item"
        (click)="delete()"
      >
        <mat-icon class="icon" svgIcon="close"></mat-icon>
      </button>
    </span>
  </span>
</ng-container>

<ng-template #itemForm>
  <app-todo-list-item-form
    [label]="label"
    (submitEvent)="updateLabel($event)"
    (cancelEvent)="toggleEditing(false)"
  ></app-todo-list-item-form>
</ng-template>