<label class="item-name checkbox">
  <input
    type="checkbox"
    [(ngModel)]="done"
    (change)="toggle()"
  />
  {{ label }}
</label>

<span class="controls on-hover field has-addons buttons are-small">
  <span class="control">
    <button
      class="button is-danger is-light"
      type="button"
      title="Delete item"
      (click)="delete()"
    >
      &times;
    </button>
  </span>
</span>