<ul *ngIf="!isActiveEmpty">
  <li
    app-todo-list-item
    *ngFor="let item of items; trackBy: trackBy"
    [label]="item.label"
    [done]="item.done"
    (toggleEvent)="onToggle(item, $event)"
    (editedEvent)="onEdited(item, $event)"
    (deleteEvent)="onDelete(item)"
  ></li>
</ul>

<p class="notification is-info is-light" *ngIf="isEmpty">
  Nothing is yet to be done.
</p>
<p class="notification is-success is-light" *ngIf="isAllDone">
  You have nothing left to do.
</p>
<p class="notification is-warning is-light" *ngIf="isNoneDone">
  Everything is yet to be done.
</p>
