<form
  [formGroup]="form"
  (submit)="submit()"
  (keydown.esc)="cancel()">
  <div class="field has-addons">
    <span class="control has-icons-left full-width">
      <input
        class="input is-small"
        type="text"
        formControlName="label"
        appAutofocus
      />
      <mat-icon class="icon is-small is-left" svgIcon="pencil"></mat-icon>
    </span>

    <span class="controls field has-addons buttons are-small">
      <span class="control">
        <button
          class="button"
          type="button"
          title="Cancel edition"
          (click)="cancel()"
        >
          <mat-icon class="icon" svgIcon="undo-variant"></mat-icon>
        </button>
      </span>
      <span class="control">
        <button
          class="button is-primary is-light"
          type="submit"
          title="Confirm edition"
          [disabled]="!form.valid">
          <mat-icon class="icon" svgIcon="checkbox-marked-circle-outline"></mat-icon>
        </button>
      </span>
    </span>
  </div>
</form>