:host,
form,
.full-width {
  width: 100%;
}
.field {
  flex-wrap: nowrap;
}
input[type=text] {
  height: 1.875em;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
  line-height: 1.875em; 
}
.control.has-icons-left .input {
  padding-left: 32px;
}
.input {
  width: 100%;
}
.icon.is-small {
  transform: scale(0.6);
  transform-origin: center;
}