<app-box-with-title>
  <ng-container box-title>
    <em>Angular</em> Todo list
  </ng-container>

  <app-todo-form></app-todo-form>
  <app-todo-filters></app-todo-filters>
  <app-todo-counter></app-todo-counter>
  <app-todo-list></app-todo-list>
</app-box-with-title>