:host {
  display: flex;
  align-items: center;
  padding: 4px;
  margin: 4px 0;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
:host:first-child {
  margin-top: 0;
}
:host:last-child {
  margin-bottom: 0;
}

.item-name {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 38px;
  margin: -4px 0;
}
.field {
  flex-wrap: nowrap;
}
input[type=checkbox] {
  margin: 0 12px 0 8px;
}
.controls.on-hover {
  opacity: 0;
  transition: opacity 0.3s;
}
.controls.on-hover:focus,
:host:hover .controls.on-hover,
:host:focus-within .controls.on-hover {
  opacity: 1;
}
.controls.buttons,
.controls .button {
  margin-bottom: 0;
}
