<ng-container *ngIf="!isEmpty; else emptyMessage">
  <span class="tag" [ngStyle]="style">
    Done {{ doneCount }}
  </span>
  <span class="tag is-primary">
    {{ todoCount }} Total
  </span>
</ng-container>
<ng-template #emptyMessage>
  <span class="tag">
    no tasks to do yet
  </span>
</ng-template>