<div class="box">
  <h2 class="title is-2">Angular Todo list</h2>
  <div class="notification is-info is-light">Item form</div>
  <div class="notification is-info is-light">Filters</div>
  <div class="notification is-info is-light">Counter</div>
  <div class="notification is-info is-light">List</div>
</div>