<app-box-with-title>
  <ng-container box-title>
    <em>Angular</em> Todo list
  </ng-container>
  <app-todo-form></app-todo-form>
  <div class="notification is-info is-light">Filters</div>
  <div class="notification is-info is-light">Counter</div>
  <app-todo-list></app-todo-list>
</app-box-with-title>