.box {
  width: 30vw;
  min-width: 250px;
  max-width: 400px;
  margin: 50px auto;
}
.title {
  text-align: center;
  color: white;
  text-shadow:
    0 1px 5px #e33434,
    0 2px 4px #c92f35,
    0 3px 3px #b12832,
    0 4px 2px #96232e,
    0 5px 1px #7d1d2a;
}