<form
  class="mb-1"
  (submit)="submit()"
  (keydown.esc)="cancel()">
  <div class="field has-addons">
    <div class="control">
      <input
        class="input"
        name="label"
        type="text"
        [(ngModel)]="label"
        placeholder="Enter todo item name"
        appAutofocus
      />
    </div>
    <div class="control">
      <button
        class="button is-primary"
        type="submit"
      >
        Create
      </button>
    </div>
  </div>
</form> 