<span class="control" *ngFor="let status of statuses | enumToArray">
  <button
    class="button"
    [ngClass]="{ 'is-primary': isStatusSelected(status) }"
    (click)="select(status)">
    <app-todo-statuses-text [key]="asStatus(status)"></app-todo-statuses-text>
  </button>
</span>